.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.controls {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fileInput {
  margin: 10px;
}

.rangeInput, .numberInput, .colorInput, .textInput {
  margin: 10px;
}

.canvas {
  position: relative;
  width: 80%; /* Adjust as needed for responsiveness */
  max-width: 800px; /* Set a maximum width for larger screens */
  height: 600px; /* Fixed height */
  background-size: cover;
  border: 1px solid #ccc;
  overflow: hidden; /* Prevent overflow */
}

.overlayImage {
  position: absolute;
}

.textOverlay {
  position: absolute;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.title {
  color: #333;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}
